In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from fastparquet import ParquetFile, write
import matplotlib.pyplot as plt
from datetime import datetime
import timeit
import time
from os.path import join

# dateformat = 'yyyy-mm-dd 00:00:00'
def date_to_timestamp(date):
    return datetime.strptime(date, "%Y-%m-%d %H:%M:%S").timestamp()

def construct_query(table,querycols,startdate,enddate):
    qry = 'SELECT '
    for pos,query in enumerate(querycols):
        if pos > 0: #add comma
            qry += ','
        qry += query 
    qry += ' from {} where block_timestamp >={} and block_timestamp <={}'.format(table,startdate,enddate) 
    return qry
    
#DATABASE CONNECTION
create_engine.max_overflow = -1
def db_to_parquet(table,cols,startdate, enddate):
    startdate = date_to_timestamp(startdate)
    enddate = date_to_timestamp(enddate)
    if startdate > enddate:
        startdate = enddate
        print('STARTDATE WAS GREATER THAN ENDDATE. ADJUSTED TO BE EQUAL')
        
        
    engine = create_engine('mysql+mysqlconnector://admin1:password@:3306/aionv4')
    # read FROM DATABASE
    qry = construct_query(table,cols,startdate,enddate)
    print(qry)
    df = pd.read_sql_query(qry,engine)
    filename = table+".parquet"
    savepath ="../data/"+table+".parquet"
    df.to_parquet(savepath, engine='pyarrow', compression='gzip')
    #pq.write_table(pa.Table.from_pandas(df),join('../data',filename),compression='gzip')
    


# SETUP DATA RETRIEVAL
startdate = '2018-06-01 00:00:00'
enddate = '2018-10-23 00:00:00'

In [6]:
# GET BLOCKS
# transaction list : transactionhash,from, to,value, timestamp, blocknumber]
block_cols = ['block_number','miner_address','block_timestamp',
              'difficulty','block_time','transaction_list']
%timeit db_to_parquet('block',block_cols,startdate,enddate)

SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT block_number,miner_address,block_timestamp,difficulty,block_time,transaction_list from block where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
1min 2s ± 1.77 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [8]:
# GET TRANSACTIONS
transaction_cols = ['transaction_hash','transaction_timestamp','to_addr','from_addr',
                    'value','nrg_consumed','block_timestamp']
%timeit db_to_parquet('transaction',transaction_cols,startdate,enddate)

SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
SELECT transaction_hash,transaction_timestamp,to_addr,from_addr,value,nrg_consumed,block_timestamp from transaction where block_timestamp >=1527825600.0 and block_timestamp <=1540267200.0
27.1 s ± 80.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)